<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Records</h2>
    <i class="bi-x" (click)="modal.dismiss()">
    </i>
  </div>
  <div class="modal-body">

    <table class="table table-striped">
      <thead>
      <tr>
        <th id="number_col" scope="col ">#</th>
        <th scope="col">Type</th>
        <th scope="col" sortable="startDate">Start</th>
        <th scope="col" sortable="endDate">End</th>
        <th scope="col" >Remaining</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of records; index as i">
        <th id="number_row" scope="row">{{ i + 1 }}</th>
        <td>
          {{ getTimerName(record.timerType) }}
        </td>
        <td>{{ record.startDate | date:'medium' }}</td>
        <td>{{ record.endDate | date:'medium' }}</td>
        <td>{{ record.remainingTime | date:'mm:ss' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="deleteAllRecords()">Clear records</button>
  </div>
</ng-template>

<a class="bi-clock-history ms-3 text-white" data-bs-toggle="modal" (click)="open(content)"></a>
