<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Options</h2>
    <i class="bi-x" (click)="modal.dismiss()">
    </i>
  </div>
  <div class="modal-body">

    <form [formGroup]="settings">

      <div class="form-group">
          <h3>Preference</h3>

          <div class="input-group mb-3">
            <label>
              <input type="checkbox" aria-label="Tomato" formControlName="showTimerInTitle">
              Show timer in page title:
            </label>
          </div>
      </div>

      <div class="form-group">
        <div formGroupName="timers">
          <h3>Timers</h3>

          <div class="input-group mb-3">
            <label>
              Tomato:
              <input type="text" class="form-control" placeholder="25" aria-label="Tomato" formControlName="tomato">
            </label>

            <label>
              Short break:
              <input type="text" class="form-control" placeholder="5" aria-label="Tomato" formControlName="shortBreak">
            </label>

            <label>
              Long break:
              <input type="text" class="form-control" placeholder="10" aria-label="Tomato" formControlName="longBreak">
            </label>

          </div>
          <label>Version: {{version}}</label>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="settings.invalid" (click)="save(); modal.dismiss()">Save</button>
  </div>
</ng-template>

<i class="bi-gear text-white fs-4" data-bs-toggle="modal" (click)="open(content)"></i>
